* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.icon img {
  /* width: 50px; */
  height: 70px;
}

nav {
  background-color: rgba(19, 22, 26, 0.4);
}

.nav__link {
  color: rgba(255, 255, 255, 0.75);
  transition: all 0.4s;
}

.nav__link:hover,
.nav__link:focus {
  transform: scale(1.1);
  color: #51d5fd;
  text-decoration: underline;
}

.navbar-collapse {
  justify-content: flex-end;
}

.sec {
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
}

.sec1 {
  height: 120vh;
}

.sec1 {
  background-image: url("../../OASIS/images/portadaOasis.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.c-item {
  height: 607px;
}

.c-img {
  height: 100%;
  object-fit: cover;
  filter: brightness(0.6);
}

.sec2--title p {
  text-shadow: 0 0 7px rgba(255, 255, 255, 0.3),
    0 0 3px rgba(255, 255, 255, 0.3);
}

.sec2--title {
  /* display: flex;
    flex-direction: column;
    align-items: center; */

  color: #000;
  font-size: 2.26rem;
  text-transform: uppercase;
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.animation {
  height:50px;
  overflow:hidden;
  margin-left: 1rem;
}

.animation > div > div {
  padding: 0.25rem 0.75rem;
  height:2.81rem;
  margin-bottom: 2.81rem;
  display:inline-block;
}

.animation div:first-child {
  animation: text-animation 7s infinite;
}

.first{
  align-items: center;
}

.first div {
  background-color:#94D1D9;
}
.second div {
  background-color:#E5BAE8;
}

.first-sp{
  display: flex;
  align-items: center;
}

.first-sp span{
  display: block;
}

@keyframes text-animation {
  0% {margin-top: 0;}
  10% {margin-top: 0;}
  20% {margin-top: -5.62rem;}
  30% {margin-top: -5.62rem;}
  40% {margin-top: -11.24rem;}
  60% {margin-top: -11.24rem;}
  70% {margin-top: -5.62rem;}
  80% {margin-top: -5.62rem;}
  90% {margin-top: 0;}
  100% {margin-top: 0;}
}

.sec4{
  height: 700px;
}
.section-title{
  text-align: center;
  padding: 25px 0;
}

.section-title h2{
  font-size: 60px;
  text-transform: uppercase;
  font-weight: 700;
  text-shadow: 0 1px 2px rgb(0, 0, 0,0.1);
}

.section-title h2 span{
  color: #51d5fd;
}

.contact-form{
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 10px;
  height: 465px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
}

.contact-form .btn{
  background: #51d5fd;
  text-transform: uppercase;
  font-weight: 700;
  padding: 10px 50px;
  letter-spacing: 2px;
}

.map-area{
width: 600px;  
height: 465px;
background: #fff;
box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px; 
border-radius: 40px;
}

.map-area iframe{
  width: 100%;
  height: 100%;
  border: none;
}

/* responsive */

@media(max-width: 991px){
  .contact-form{
      margin-bottom: 30px;
  }
  .map-area{
      width: 100%;
      height: 400px;
  }
}


.sec5{
  /* display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 20;
  width: 700px; */
  display: flex;
  justify-content: space-around;
  height: 700px;
  background-image: url("../../OASIS/images/fondo-formularioclase.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}


.child5-1,.child5-2{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}


.child5-2 .btn{
  background: #51d5fd;
  text-transform: uppercase;
  font-weight: 700;
  padding: 10px 50px;
  letter-spacing: 2px;
}


.italic{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 66px;
  font-weight: 900;
  font-style:italic;
  color: #51d5fd;
}

.bordeazul{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 66px;
  font-weight: 900;
  font-style:italic;
  color: #E6E6E6;
  opacity: 1;
  -webkit-text-stroke: 2px #0099DD;
}

.fix-bottom {
  position: fixed;
  bottom: 0;
  width: 100%;
  color: white;
  padding: 10px 0;
  text-align: center;
}

.col a {
  font-size: 28px;
  text-decoration: none;
  width: 60px;
  height: 60px;
  color: #f1f1f1;
}
