* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-font: #95F6FF;;
  --primary_font:'Noto Sans', sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: "Poppins", sans-serif;

  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
}

.header {
  background-color: rgba(19, 22, 26, 0.4);
  position: fixed;
  width: 100%;
  top: 0;
}

.header__container {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 30px;
}

.logo__img {
  display: block;
  height: 70px;
  transition: all 0.3s;
}

.logo__img:hover,
.social_foo:hover {
  transform: scale(1.2);
}

.nav__list {
  display: flex;
  column-gap: 40px;
}

.nav__link {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.75);
  transition: all 0.4s;
}

.nav__link:hover,
.nav__link:focus {
  transform: scale(1.1);
  color: #51d5fd;
  text-decoration: underline;
}

.nav-scrolled {
  background-color: black;
}

.sec {
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
}

.sec1 {
  height: 120vh;
}

.sec1 {
  background-image: url("./images/portadaOasis.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.sec2{
  background-image: url(./images/fondoLetra.png);
}

.elementor__sec2{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.elementor_sec2--e-con-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  font-family: var(--primary_font);
  gap: 20px;
}

.--e-con-inner2 h2{
  font-family: var(--primary_font);
  font-style: italic;
  font-weight: bold;
  color: var(--main-font);
}

.elementor_sec2--e-con-inner h6 span {
  font-weight: 400;
  line-height: 1em;
}

.elementor_sec2--e-con-inner span {
  font-family: "gotham";
  font-size: 66px;
  font-weight: 900;
  font-style: italic;
  color: #0099dd;
}

.elementor_sec2--wallpaper{
  
}

/******** sección de clases ********/
/* Sec3 */
.sec3{
  font-family: var(--primary_font);
  font-weight: bold;
  font-size:xx-large;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 600px;
  margin: 0;
}

.sec3-card{
  width: 100%;
  height: 80%;
}

.cards-wrapper{
  display: flex;
}

.card{
  margin: 0 .5em;
  width: calc(100%/3);
}

/* h1 {
  text-align: center;
  margin: 1.5em;
  color: white;
}

img {
  width: 80%;
  border-radius: 5%;
}

.container {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.items {
  display: flex;
  align-items: center;
  width: fit-content;
  animation: carouselAnim 20s infinite alternate linear;
}

.entry {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  width: 300px;
  background: #fff;
  margin: 1em;
  padding: 0.5em;
  border-radius: 10px;
  box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.5);
}

@media only screen and (max-width: 768px) {
  .items {
    animation: carouselAnim 35s infinite alternate linear;
  }
  
  @keyframes carouselAnim {
    from {
      transform: translate(0, 0);
    }
    to {
      transform: translate(calc(-100% + (2 * 360px)));
    }
  }
}

.entry p {
  text-align: center;
  padding: 1em;
}

.name {
  font-weight: bold;
}

@keyframes carouselAnim {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(calc(-100% + (5 * 345px)));
  }
}

.container .faders {
  width: 100%;
  position: absolute;
  height: 100%;
}

.faders .right,
.faders .left {
  background: linear-gradient(
    to right,
   
  );
  width: 15%;
  height: 100%;
  position: absolute;
  z-index: 200;
}

.right {
  right: 0;
  background: linear-gradient(
    to left,
   
  );
} */


/* sección de pie pagina */
footer {
  background-color: #000000;
  padding: 1em 0;
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 10vh;
  /* margin-top: auto; */
  /* position: absolute;
    bottom: 0;
    width: 100%; */
}

footer a::before {
  pointer-events: none;
}

.footer__img {
  display: block;
  height: 60px;
  transition: all 0.3s;
}
